.contacts {
    &__container {
        .container;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 57px;
    }
}